@{
    ViewData["Title"] = "Documentation";
}
<h2>Identity API documentation</h2>

<p>Here you will find all necessary documentation about Zumo Identity API service endpoints and protocols</p>

<ul>
    <li><a href="/.well-known/openid-configuration" target="_blank">Discovery document (JSON)</a></li>
    <li><a href="http://docs.identityserver.io/en/release/index.html" target="_blank">IdentityServer4 documentation (including all endpoints)</a></li>
    <li><a href="/sawgger/ui" target="_blank">API (by Swagger)</a></li>


</ul>
